<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="gblExpressRateBook">
                    <security mode="Transport" />
                </binding>
                <binding name="gblExpressRateBook1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsbexpress.dhl.com/sndpt/expressRateBook"
                binding="basicHttpBinding" bindingConfiguration="gblExpressRateBook"
                contract="com.dhl.wsbexpress.ratebook.gblExpressRateBook"
                name="gblExpressRateBook" />
        </client>
    </system.serviceModel>
</configuration>